//颜色系统皮肤
@theme-color: rgba(235, 195, 78, 1);

//系统字体大小
@theme-font-size-1: unit(26, rpx);
@theme-font-size-2: unit(28, rpx);
@theme-font-size-3: unit(30, rpx);
@theme-font-size-4: unit(32, rpx);
@theme-font-size-5: unit(34, rpx);
@theme-font-size-6: unit(36, rpx);
@theme-font-size-7: unit(38, rpx);
@theme-font-size-8: unit(40, rpx);


.search-box{
  width: unit(750,rpx);
  background: #fff;
  height: unit(85,rpx);
  display: flex;
  align-items: center;
  justify-content:center;
  .search {
    width: unit(690, rpx);
    height: unit(60, rpx);
    background: rgba(245, 245, 247, 1);
    border-radius: unit(30,rpx);
    display: flex;
    align-items: center;
    img{
      width:unit(26,rpx);
      height:unit(26,rpx);
      margin-left: unit(22,rpx);
      margin-right: unit(16,rpx);
    }
    input {
      font-size: @theme-font-size-1;
      display: block;
      width: unit(610, rpx);
    }
  }
}
// 清除小程序的默认边框
button::after{
  border: none;
}
.nodata{
    position: fixed;
    width: unit(500,rpx);
    left: unit(125,rpx);
    top: 30%;
    img{
      width: unit(500,rpx);
      height: unit(400,rpx);
    }
}
